/* ==UserStyle==
@name           www.pillowfort.social - 2022-08-22, 11:14:46 a.m.
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A minimal PF style
@author         vedri
==/UserStyle== */

@-moz-document url-prefix("https://www.pillowfort.social/") {
    
    /* Colors the inbox and notification numbers not to stand out */
    
    .sidebar-num {
        color: #58b6dd;
        /* display: none; */
    }
    
    /* Makes pink elements stand out a bit more */
    
    .svg-pink-light {
        filter: brightness(20%) saturate(100%) invert(67%) sepia(96%) 
            saturate(1357%) hue-rotate(288deg) brightness(100%) 
            contrast(103%) drop-shadow(0 0 3px #F165A8);
    }
    
    /* Hide bottom sidebar numbers */
    /* 
    .sidebar-bottom-num {
        display: none;
    } 
    */
    
}